@import url('https://rsms.me/inter/inter.css');

@layer demo {
  :root {
    --primary-color: light-dark(hsl(201, 96%, 32%), hsl(198, 93%, 60%));
    --border-color: light-dark(hsl(214, 32%, 91%), hsl(217, 33%, 17%));
    --surface-1: light-dark(hsl(210, 40%, 98%), hsl(229, 84%, 5%));
    --surface-2: light-dark(hsl(210, 40%, 96%), hsl(222, 47%, 7%));
    --text-1: light-dark(hsl(229, 84%, 11%), hsl(210, 40%, 96%));
    --text-2: light-dark(hsl(214, 32%, 17%), hsl(217, 33%, 90%));
    color-scheme: light dark;
  }

  * {
    box-sizing: border-box;
  }

  /* Dark mode */
  @media screen  {
    :root {
      color-scheme: light;

      &:has(#theme-toggle:checked) {
        color-scheme: dark;
      }
  }


  body {
    font-family: 'InterVariable', system-ui, sans-serif;
    line-height: 1.5;
    line-height: 1.5;
    width: min(100vw, 120ch);
    margin: auto;
    padding: 0;
    overflow-x: scroll;
    accent-color: var(--primary-color);
    color: var(--text-1);
    background-color: var(--surface-1);

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      'header header'
      'nav    main'
      'footer footer';
    /* dark / light mode toggle animation */
    transition:
      background 0.2s ease-in-out,
      color 0.2s ease-in-out;
  }
  .header {
    grid-area: header;
    display: grid;
    grid-template-columns: 50px auto 50px 50px;
    gap: 1em;
    background-color: var(--surface-2);
    align-items: center;
    justify-items: stretch;
    height: 3lh;
    width: 100%;
    padding: 0.5em;
    border-bottom: 1px solid var(--border-color);

    color: var(--primary-color);
    .logo {
      background-image: url('./logo.svg');
      background-repeat: no-repeat;
      background-size: 48px;
      background-position: center left;
      width: 50px;
      height: 50px;
    }
    h1 {
      font-size: 1.5em;
      font-weight: 500;
      margin: 0.5em;
    }
  }

  .main {
    grid-area: main;
    padding: 1em;
    margin: 0 2vw;

    > h2,
    > h3,
    > h4 {
      color: var(--primary-color);
      a {
        text-decoration: none;
        color: var(--text-1);
      }
      a:hover::before {
        content: '§';
        position: absolute;
        padding: 0 0.2em;
        margin-left: -1em;
        border-radius: 0.2em;
        color: var(--primary-color);
      }
    }
  }

  .nav {
    grid-area: nav;
    border-right: 1px solid var(--border-color);
    background-color: var(--surface-1);
    position: sticky;
    top: 0;
    z-index: 3;
    max-height: 100vh;
    font-size: 1.25em;
    line-height: 1.5;
    padding: 1em;
    > * {
      display: block;
      color: var(--primary-color);
    }
    a {
      text-decoration: none;
      text-wrap: nowrap;
      font-weight: 500;
      color: var(--text-1);
    }
  }

  .subheading {
    color: var(--text-2);
    font-weight: 300;
  }

  .example {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em;

    margin: 1em 0 2em 0;
    max-width: 100vw;
    overflow: hidden;
    > * {
      padding: 0.5em;
    }

    code {
      border: 1px solid var(--border-color);
      border-radius: 4px;
      background-color: var(--surface-2);
      white-space: preserve-breaks;
      overflow: auto;
      font-size: 1.2em;
      font-family: monospace;
      scrollbar-width: thin;
    }
    .rendering {
      resize: both;
      overflow: auto;
    }
  }

  .flex {
    display: flex;
    gap: 1em;
  }
  .grid {
    display: grid;
    .cols-2 {
      grid-column: span 2;
    }
  }
  .footer {
    padding: 1em;
    border-top: 1px solid var(--border-color);
    background-color: var(--surface-2);
    grid-area: footer;
    z-index: 2;
  }

  /* Menu */
  .hamburger {
    display: none;
    justify-self: end;
    margin: 1em;
    width: 30px;
    height: 30px;
    cursor: pointer;
    span {
      display: block;
      width: 100%;
      height: 3px;
      background-color: var(--text-1);
      margin-bottom: 5px;
      transition: 0.3s;
    }
  }

  #menu-toggle:checked {
    + .hamburger span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    + .hamburger span:nth-child(2) {
      opacity: 0;
    }

    + .hamburger span:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -7px);
    }
  }

  @media (max-width: 100ch) {
    body {
      grid-template-areas:
        'header'
        'nav'
        'main'
        'footer';
      &:has(#menu-toggle:checked) {
          overflow: hidden;
          .nav {
            height: 100%;
            right: 0;
            left: 0;
            top: 72px;
            z-index: 1024;
          }
      }
    }
    .main {
      margin: 0;
      padding: 0.5em;
    }
    .example {
      code {
        border: none;
      }
    }
    .header {
      position: sticky;
      top: 0;
      z-index: 1024;
    }
    .nav {
      position: fixed;
      right: 0;
      left: 100vw;
      transition: 0.3s;
      padding: 2rem;
      box-sizing: border-box;
    }

    .hamburger {
      display: block;
    }
  }
}
