@import url('https://rsms.me/inter/inter.css');

@layer demo {
  :root {
    /* Nord Colors: https://www.nordtheme.com/docs/colors-and-palettes */
    --nord-polar-night-1: hsl(220, 16%, 22%);
    --nord-polar-night-2: hsl(222, 16%, 28%);
    --nord-polar-night-3: hsl(220, 17%, 32%);
    --nord-polar-night-4: hsl(220, 16%, 36%);

    --nord-snow-storm-1: hsl(219, 28%, 88%);
    --nord-snow-storm-2: hsl(218, 27%, 92%);
    --nord-snow-storm-3: hsl(218, 27%, 94%);

    --nord-frost-1: hsl(179, 25%, 65%);
    --nord-frost-2: hsl(193, 43%, 67%);
    --nord-frost-3: hsl(210, 34%, 63%);
    --nord-frost-4: hsl(213, 32%, 52%);

    --primary-color: light-dark(var(--nord-frost-4), var(--nord-snow-storm-3));
    --border-color: light-dark(var(--nord-snow-storm-1), var(--nord-polar-night-4));
    --surface-1: light-dark(var(--nord-snow-storm-3), var(--nord-polar-night-1));
    --surface-2: light-dark(var(--nord-snow-storm-2), var(--nord-polar-night-2));
    --text-1: light-dark(var(--nord-polar-night-1), var(--nord-snow-storm-3));
    --text-2: light-dark(var(--nord-polar-night-2), var(--nord-snow-storm-2));
    color-scheme: light dark;
  }

  * {
    box-sizing: border-box;
  }

  /* Dark mode */
  @media screen {
    [data-theme='dark'] {
      color-scheme: dark;
    }
    [data-theme='light'] {
      color-scheme: light;
    }
  }
  body {
    font-family: 'InterVariable', system-ui, sans-serif;
    line-height: 1.5;
    line-height: 1.5;

    accent-color: var(--primary-color);
    color: var(--text-1);
    background-color: var(--surface-1);
    display: grid;
    grid-template-areas:
      'header header  header'
      'nav    main main'
      'footer footer footer';
    /* dark / light mode toggle animation */
    transition:
      background 0.2s ease-in-out,
      color 0.2s ease-in-out;
  }
  .header {
    grid-area: header;
    padding: 1em;
    border-bottom: 1px solid var(--border-color);
    background-image: url('./logo.svg');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center left;
    padding-left: 120px;
    color: var(--primary-color);
  }

  .main {
    grid-area: main;
    padding: 1em;
    margin: 0 2vw;

    > h2,
    > h3,
    > h4 {
      color: var(--primary-color);
      a {
        text-decoration: none;
        color: var(--primary-color);
      }
      a:hover::before {
        content: '§';
        position: absolute;
        padding: 0 0.2em;
        margin-left: -1em;
        border-radius: 0.2em;
        color: var(--primary-color);
      }
    }
  }

  .nav {
    grid-area: nav;
    border-right: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    max-height: 100vh;
    font-size: 1.25em;
    line-height: 1.5;
    padding: 1em;
    > * {
      display: block;
      color: var(--primary-color);
    }
    a {
      text-decoration: none;
      font-weight: 500;
      color: var(--primary-color);
    }
  }

  .subheading {
    color: var(--text-2);
    font-weight: 300;
  }

  .example {
    display: grid;
    grid-template-columns: repeat(2, minmax(50ch, 1fr));
    grid-template-rows: minmax(250px, 1fr);
    gap: 1em;

    margin: 1em 0 2em 0;
    max-width: 100vw;
    overflow:hidden;
    > * {
      padding: 0.5em;
    }

    code {
      border: 1px solid var(--border-color);
      border-radius: 4px;
      background-color: var(--surface-2);
      white-space: preserve-breaks;
      overflow: auto;
      font-size: 1.2em;
      font-family: monospace;
      scrollbar-width: thin;
    }
    .rendering{
      resize: both;
      overflow: auto;
    }
  }

  .flex {
    display: flex;
    gap: 1em;
  }
  .grid {
    display: grid;
    .cols-2 {
      grid-column: span 2;
    }
  }
  .footer {
    padding: 1em;
    border-top: 1px solid var(--border-color);
    background-color: var(--surface-2);
    grid-area: footer;
    z-index: 2;
  }

  @media (max-width: 100ch) {
    body {
      grid-template-areas:
        'header'
        'nav'
        'main'
        'footer';
    }
    .main {
      margin: 0;
      padding: 0;
    }
    .example {
      grid-template-columns: 1fr;
      code {
        border: none;
      }
    }
    .nav {
      position: static;
    }
  }
}
