body {
	margin: 1em auto;
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
}

.article-list {
	display: block;
	list-style: none;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;

	padding: 0;

	> li {
		max-width: 600px;
		padding: 0;
		margin: 1em auto;
		scroll-snap-align: start;
	}
}
.language-selector-btn {
	position: fixed;
	bottom: 0;
	z-index: 100;
	background: transparent;
	border: none;
	cursor: pointer;
	right: 0;

	.icon svg {
		fill: currentcolor;
		width: 100%;
		height: 100%;
	}
}
