<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>wiki-elements: {{ title if title else "A collection of WebComponents to share or interact with Wikipedia content" }}</title>
        <link rel="icon" href="logo.svg" sizes="any" type="image/svg+xml" />
        <meta name="description" content="wiki-elements: A collection of WebComponents to share or interact with Wikipedia content" />
        <meta name="supported-color-schemes" content="dark light" />
        <meta name="color-scheme" content="dark light" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@wikimedia/codex-design-tokens/theme-wikimedia-ui.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@wikimedia/codex-design-tokens/theme-wikimedia-ui-mode-dark.css" media="( prefers-color-scheme: dark )" />
        <link rel="stylesheet" href="style.css" />
        <script src="demo.js" type="module"></script>
        <script src="{{ rootpath }}src/index.js" type="module"></script>
        <script src="prism.js" defer></script>
        <link rel="stylesheet" href="prism.css" />
        {% block head %}{% endblock %}
    </head>

    <body>
        <header class="header">
            <span class="logo"></span>
            <span class="site-title">wiki-elements</span>
            <input type="checkbox" style="display: none" id="menu-toggle" />
            <label for="menu-toggle" class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </header>
        <nav class="nav">
            <a href="./" {% if slug == "index" %}aria-current="page"{% endif %}>Introduction</a>
            <h4>Components</h4>
            <ul>
                <li><a href="wiki-article" {% if slug == "wiki-article" %}aria-current="page"{% endif %}>wiki-article</a></li>
                <li><a href="wiki-image" {% if slug == "wiki-image" %}aria-current="page"{% endif %}>wiki-image</a></li>
                <li><a href="wiki-video" {% if slug == "wiki-video" %}aria-current="page"{% endif %}>wiki-video</a></li>
                <li><a href="wiki-map" {% if slug == "wiki-map" %}aria-current="page"{% endif %}>wiki-map</a></li>
                <li><a href="wiki-graph" {% if slug == "wiki-graph" %}aria-current="page"{% endif %}>wiki-graph</a></li>
                <li><a href="wiki-profile" {% if slug == "wiki-profile" %}aria-current="page"{% endif %}>wiki-profile</a></li>
                <li><a href="wiki-wikitext" {% if slug == "wiki-wikitext" %}aria-current="page"{% endif %}>wiki-wikitext</a></li>
                <li><a href="wiki-user" {% if slug == "wiki-user" %}aria-current="page"{% endif %}>wiki-user</a></li>
                <li><a href="wiki-machine-translation" {% if slug == "wiki-machine-translation" %}aria-current="page"{% endif %}>wiki-machine-translation</a></li>
                <li><a href="wiki-language-selector" {% if slug == "wiki-language-selector" %}aria-current="page"{% endif %}>wiki-language-selector</a></li>
                <li><a href="wiki-3d-viewer" {% if slug == "wiki-3d-viewer" %}aria-current="page"{% endif %}>wiki-3d-viewer</a></li>
            </ul>
            <a href="https://github.com/santhoshtr/wiki-elements">Source code</a>
        </nav>
        <main>
            {% block content %}{% endblock %}
        </main>
        {% block foot %}{% endblock %}
    </body>
</html>
