@layer wiki-elements.wiki-article {
	@property --continuous-color {
		syntax: "<color>";
		inherits: false;
		initial-value: transparent;
	}

	@property --is-dark-image {
		syntax: "<number>";
		inherits: false;
		initial-value: 1;
	}

	:host {
		--wiki-article-border-radius: 1rem;

		display: block;
		max-width: 400px;
		box-sizing: border-box;
		container-type: inline-size;
		container-name: wiki-article;

		* {
			box-sizing: border-box;
		}
	}

	.wiki-article {
		--font-size-title: 1.25em;
		--font-size-meta: 0.9em;
		--font-size-body: 1em;

		--wiki-article-background-color: oklch(from var(--continuous-color) l c h);
		--wiki-article-text-color: oklch(
			from var(--continuous-color) calc(l * var(--is-dark-image) * 100) c h
		);
		--wiki-article-text-secondary-color: oklch(
			from var(--wiki-article-text-color) calc(l + 0.04) c h
		);

		width: 100cqi;
		display: block;
		overflow: hidden;
		position: relative;
		background-color: var(--wiki-article-background-color);
		border-radius: var(--wiki-article-border-radius);
		color: var(--wiki-article-text-color);
		align-items: center;
		font-family: sans-serif;
		transition:
			background-color 0.3s ease,
			color 0.3s ease;

		.image-container {
			position: relative;
			overflow: hidden;
			border-radius: var(--border-radius);
			img {
				display: block;
				position: relative;
				width: 100%;
				height: auto;
			}

			.overlay {
				content: " ";
				position: absolute;
				top: 50%;
				bottom: 0;
				left: 0;
				right: 0;
				--gradient-start-color: rgb(from var(--continuous-color) r g b / 0);
				background: linear-gradient(
					var(--gradient-start-color) 0%,
					var(--continuous-color) 100%
				);
				z-index: 1;
			}
		}

		.content {
			width: 100cqi;
			height: 100%;
			max-height: 100%;
			display: grid;
			grid-template-rows: auto;
			overflow: hidden;
			padding: clamp(0.8em, 100cqi, 1em);
			z-index: 2;
			align-self: start;
			color: var(--wiki-article-text-color);

			@container wiki-article (max-width: 720px) {
				align-self: end;
				align-content: end;
			}

			.title-header {
				font-size: var(--font-size-title);
				margin: 0.25em 0;
				padding: 0;
				line-height: 1.1;

				.title {
					text-decoration: none;
					text-wrap: balance;
					color: currentcolor;
				}
			}

			.extract {
				margin-top: 10px;
				font-size: var(--font-size-body);
				text-wrap: pretty;
				text-align: start;
				overflow: hidden;
				max-height: 7lh;
				max-width: clamp(20ch, 100cqi, 50ch);
				scrollbar-width: none;
				line-height: 1.5;
			}

			.description {
				margin-top: 10px;
				font-size: 1.1em;
				text-align: pretty;
				overflow: auto;
				max-height: 7lh;
				display: none;
				max-width: clamp(20ch, 100cqi, 50ch);
				scrollbar-width: none;
				line-height: 1.5;
			}

			.meta {
				gap: 4px;
				display: flex;
				flex-wrap: wrap;
				color: var(--wiki-article-text-secondary-color);
				align-items: center;
				align-content: center;
				font-size: var(--font-size-meta);
				margin: 0;
				overflow: hidden;
				font-weight: 400;

				.icon {
					svg {
						width: 12px;
						height: 12px;
						fill: var(--wiki-article-text-secondary-color);
					}
				}

				a {
					text-decoration: none;
					color: var(--wiki-article-text-secondary-color);
				}
			}
		}
	}

	.wiki-article.simple {
		height: 300px;
		max-height: 300px;
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 1fr;
		background-color: transparent;
		color: currentcolor;
		border-color: currentcolor;

		&.portrait {
			grid-template-columns: 1fr;
			grid-template-rows: 10lh 12lh;
		}

		.content {
			width: 100%;
			background: transparent;
			color: currentcolor;
			padding: 0.25em;

			.description {
				font-size: 1em;
			}
		}

		.image {
			position: relative;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: 50% 33%;
		}

		.overlay {
			display: none;
		}
	}

	.wiki-article.compact {
		height: 100px;
		max-height: 100px;
		min-height: 100px;
		display: grid;
		grid-template-columns: 100px auto;
		grid-template-rows: 1fr;
		background-color: transparent;
		color: currentcolor;
		border: 0;

		.content {
			width: 100%;
			background: transparent;
			color: currentcolor;
			padding: 0.25em;

			.title-header {
				font-size: 1.1em;
				padding: 0.25em;
			}

			.description {
				margin-top: 0;
				display: block;
				padding: 0.25em;
				line-height: 1.2;
				font-size: 1em;
			}
		}

		.image {
			position: relative;
			aspect-ratio: 1;
			height: 100px;
			object-fit: cover;
			object-position: 50% 33%;
		}

		.overlay {
			display: none;
		}

		.extract {
			display: none;
		}

		.meta {
			display: none;
		}
	}
}
