@layer wiki-elements.wiki-article {
  :host {
    --wiki-article-border-radius: 0.5rem;
    --dominant-color: var(--wiki-article-background-color);
    display: block;

    container: wikiarticle / inline-size;
    max-width: 1000px;
    box-sizing: border-box;
    * {
      box-sizing: border-box;
    }
  }

  @container wikiarticle (width > 640px) {
    /* Horizontal */
    .wiki-article {
      width: 100cqi;
      --image-scale: calc(300 / var(--image-height));
      height: auto;
      .image {
        height: 100%;
        width: auto;
        position: absolute;
        inset-block-start: 0;
        inset-inline-end: 0;
      }
      .overlay {
        background: linear-gradient(
          to right,
          var(--dominant-color) calc(100cqi - (var(--image-scale) * var(--image-width)) * 1px),
          transparent
        );
      }
      .content {
        align-content: start;
      }
    }
  }

  @container wikiarticle (width < 640px) {
    .wiki-article {
      --image-scale: calc(100cqi / var(--image-width));
      width: 100cqi;
      min-height: calc(var(--image-scale) * var(--image-height) + 8lh);
      .image {
        width: 100%;
        height: auto;
        inset-block-start: 0;
        inset-inline-start: 0;
      }

      &:has(.image.empty)   {
        min-height: 5lh;
      }

      .overlay {
        background: linear-gradient(
          to bottom,
          transparent,
          var(--dominant-color) calc(var(--image-scale) * var(--image-height))
        );
      }
      .content {
        align-self: end;
        align-content: end;
      }

    }
  }

  .wiki-article {
    --font-size-title: clamp(1.25rem, 5cqi, 2rem);
    --font-size-meta: clamp(0.9rem, 2cqi, 1rem);
    --font-size-body: clamp(1rem, 3cqi, 1.2rem);
    --wiki-article-background-color: oklch(from var(--dominant-color) l c h);
    --wiki-article-text-color: oklch(from var(--dominant-color) 0.01 c h);
    --wiki-article-text-secondary-color: oklch(from var(--dominant-color) 0.05 c h);
    --wiki-article-border-color: oklch(from var(--dominant-color) 0.8 c h);

    &:has(.image.dark) {
      --wiki-article-background-color: oklch(from var(--dominant-color) l c h);
      --wiki-article-text-color: oklch(from var(--dominant-color) 0.99 c h);
      --wiki-article-text-secondary-color: oklch(from var(--dominant-color) 0.95 c h);
      --wiki-article-border-color: oklch(from var(--dominant-color) 0.7 c h);
    }

    &:has(.image.light) {
      --wiki-article-background-color: oklch(from var(--dominant-color) l c h);
      --wiki-article-text-color: oklch(from var(--dominant-color) 0.01 c h);
      --wiki-article-text-secondary-color: oklch(from var(--dominant-color) 0.05 c h);
      --wiki-article-border-color: oklch(from var(--dominant-color) 0.8 c h);
    }

    width: 100cqi;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;

    background-color: var(--wiki-article-background-color);
    border: 1px solid var(--wiki-article-border-color);
    border-radius: var(--wiki-article-border-radius);

    color: var(--wiki-article-text-color);
    align-items: center;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    .image {
      position: absolute;
      object-fit: contain;
      z-index: 1;

      &.empty {
        display: none;
      }
    }

    .overlay {
      position: absolute;
      inset-block-start: 0;
      inset-inline-start: 0;
      width: 100%;
      height: 100%;

      z-index: 2;
    }

    &:has(.image.empty) .overlay {
      display: none;
    }

    &:has(.image.landscape) .overlay {
      position: absolute;
      inset-block-start: 0;
      inset-inline-end: 0;
      width: 100%;
      height: 100%;

      z-index: 2;
    }

    &:has(.image.landscape)[dir='rtl'] .overlay {
      background: linear-gradient(
        to left,
        var(--dominant-color) calc(100cqi - (var(--image-scale) * var(--image-width)) * 1px),
        transparent
      );
    }

    .content {
      width: 100cqi;
      height: 100%;
      max-height: 100%;
      display: grid;
      grid-template-rows: auto;
      overflow: hidden;
      padding: clamp(0.8em, 2cqi, 1em);
      z-index: 2;
      .title-header {
        font-size: var(--font-size-title);
        margin: 0.25em 0;
        padding: 0;
        line-height: 1.1;

        .title {
          text-decoration: none;
          text-wrap: balance;
          color: var(--wiki-article-text-color);
        }
      }
      .extract {
        margin-top: 10px;
        font-size: var(--font-size-body);
        text-wrap: pretty;
        text-align: start;
        overflow: auto;
        max-height: 7lh;
        max-width: clamp(20ch, 100cqi, 50ch);
        scrollbar-width: none;
        line-height: 1.5;
      }
      .description {
        margin-top: 10px;
        font-size: 1.1em;
        text-align: pretty;
        overflow: auto;
        max-height: 7lh;
        display: none;
        max-width: clamp(20ch, 100cqi, 50ch);
        scrollbar-width: none;
        line-height: 1.5;
      }
      .meta {
        gap: 4px;
        display: flex;
        color: var(--wiki-article-text-secondary-color);
        align-items: center;
        align-content: center;
        font-size: var(--font-size-meta);
        margin: 0;
        overflow: hidden;
        font-weight: 400;

        .icon {
          svg {
            width: 12px;
            height: 12px;
            fill: var(--wiki-article-text-secondary-color);
          }
        }

        a {
          text-decoration: none;
          color: var(--wiki-article-text-secondary-color);
        }
      }
    }
  }
}
