wiki-article {
  display: block;
  width: 100%;
  max-width: 750px;
  container-type: inline-size;
  container-name: wikiarticlecontainer;


  .wiki-article {
    --wiki-border-radius: 8px;
    --wiki-border-color: light-dark(hsl(219, 28%, 88%), hsl(220, 16%, 36%));

    align-items: stretch;
    gap: 10px;
    display: grid;
    grid-template-columns: auto;
    border: 1px solid var(--wiki-border-color);
    border-radius: var(--wiki-border-radius);

    overflow: hidden;

    .thumbnail {
      flex: 0 0 var(--wiki-image-height);
      border-start-end-radius: var(--wiki-border-radius);
      border-end-end-radius: var(--wiki-border-radius);
      img {
        width: 100%;

        height: auto;
        object-fit: cover;
      }
    }
    .title-desc-container {

      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 2lh 6lh 1lh;
      overflow: hidden;

      .title-header {
        font-size: 1.5em;
        margin: 0.25em 0;
        padding: 0;
        line-height: 1.1;
        .title {
          text-decoration: none;
        }
      }
      .description {
        font-size: 1em;
        color: var(--text-color);
        padding: 0;
        margin: 0;
        overflow-y: scroll;
        scrollbar-width: none;
        text-overflow: ellipsis;

      }
      .meta {
        gap: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: small;
        border-top: 1px solid var(--wiki-border-color);
        overflow: hidden;
        .logo {
          background-image: url('https://upload.wikimedia.org/wikipedia/en/8/80/Wikipedia-logo-v2.svg');
          background-size: 16px;
          background-repeat: no-repeat;
          background-position-inline: start;
          white-space: nowrap;
          padding-inline-start: 20px;
        }
        .cc {
          background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e5/CC_BY-SA_icon.svg);
          width: 50px;
          height: 16px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .edit {
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Ctitle%3E edit %3C/title%3E%3Cpath d='m16.77 8 1.94-2a1 1 0 0 0 0-1.41l-3.34-3.3a1 1 0 0 0-1.41 0L12 3.23zM1 14.25V19h4.75l9.96-9.96-4.75-4.75z'/%3E%3C/svg%3E%0A");

          background-repeat: no-repeat;
          background-size: 16px;
          width: 16px;
          height: 16px;
        }
        .history{
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Ctitle%3E history %3C/title%3E%3Cpath d='M9 6v5h.06l2.48 2.47 1.41-1.41L11 10.11V6z'/%3E%3Cpath d='M10 1a9 9 0 0 0-7.85 13.35L.5 16H6v-5.5l-2.38 2.38A7 7 0 1 1 10 17v2a9 9 0 0 0 0-18'/%3E%3C/svg%3E%0A");

          background-repeat: no-repeat;
          background-size: 16px;
          width: 16px;
          height: 16px;
        }
        .talk{
           background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M532 386.2c27.5-27.1 44-61.1 44-98.2 0-80-76.5-146.1-176.2-157.9C368.3 72.5 294.3 32 208 32 93.1 32 0 103.6 0 192c0 37 16.5 71 44 98.2-15.3 30.7-37.3 54.5-37.7 54.9-6.3 6.7-8.1 16.5-4.4 25 3.6 8.5 12 14 21.2 14 53.5 0 96.7-20.2 125.2-38.8 9.2 2.1 18.7 3.7 28.4 4.9C208.1 407.6 281.8 448 368 448c20.8 0 40.8-2.4 59.8-6.8C456.3 459.7 499.4 480 553 480c9.2 0 17.5-5.5 21.2-14 3.6-8.5 1.9-18.3-4.4-25-.4-.3-22.5-24.1-37.8-54.8zm-392.8-92.3L122.1 305c-14.1 9.1-28.5 16.3-43.1 21.4 2.7-4.7 5.4-9.7 8-14.8l15.5-31.1L77.7 256C64.2 242.6 48 220.7 48 192c0-60.7 73.3-112 160-112s160 51.3 160 112-73.3 112-160 112c-16.5 0-33-1.9-49-5.6l-19.8-4.5zM498.3 352l-24.7 24.4 15.5 31.1c2.6 5.1 5.3 10.1 8 14.8-14.6-5.1-29-12.3-43.1-21.4l-17.1-11.1-19.9 4.6c-16 3.7-32.5 5.6-49 5.6-54 0-102.2-20.1-131.3-49.7C338 339.5 416 272.9 416 192c0-3.4-.4-6.7-.7-10C479.7 196.5 528 238.8 528 288c0 28.7-16.2 50.6-29.7 64z'/%3E%3C/svg%3E");
           background-repeat: no-repeat;
           background-size: 16px;
           width: 16px;
           height: 16px;
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
  @container (min-width: 500px) {
    .wiki-article {
      display: grid;
      grid-template-columns: auto auto;
      .thumbnail {
        img{
          width: auto;
          aspect-ratio: 1;
          height: 100%;
        }
      }

    }
  }

}

