@layer wiki-elements.wiki-video {
  :host {
    display: block;
    width: 100%;
    max-width: 100vw;
    margin: 0;

  }

  figure {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
    position: relative;
    container-type: inline-size;
    video {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 100vw;
      position: relative;
      object-fit: contain;
    }
    figcaption {
      position: absolute;
      transition: 0.3s;
      top: 0;
      right: calc(-1.5*100cqi);

      width: 100cqi;
      margin: 0;
      font-size: x-small;
      overflow: scroll;
      scrollbar-width: none;

      background-color: #33333380;
      color: white;
      a {
        text-decoration: none;
        color: white;
      }
    }
    &:hover figcaption {
      right: 0;
    }
  }
}
