@layer wiki-elements.wiki-image {
	:host {
		display: block;
		width: 100%;
		max-width: 100vw;
		margin: 0;

		&:state(progress) {
			cursor: wait;
		}

		&:state(error) {
			cursor: not-allowed;
		}
	}

	figure {
		position: relative;
		overflow: hidden;
		margin: 0;
	}

	figure img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	figure > figcaption {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 20px 10px;
	}

	figure > figcaption::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(0 0 0 / 50%);
		filter: blur(12px);
		transform: scale(2) translateY(25%);
	}

	figure > figcaption > * {
		margin: 0;
		color: white;
		position: relative;
		z-index: 1;
	}

	figure > figcaption > h1 {
		font-size: 1em;
		line-clamp: 3;
	}

	figure > figcaption > p {
		font-size: 0.8em;
	}
}
